@use "../../Components/Home/variables" as *;

.about {
  //Whatsapp Float
  .WhatsApp__ {
    display: block;
    object-fit: cover;
    object-position: bottom;
  }
  .hideWhatsapp {
    display: none;
  }
  margin: auto;
  width: 100%;
  .seccontainer {
    .title {
      text-align: center;
      font-size: 2rem;
      color: $BlackColor;
      font-weight: 700;
      transform: translateY(-50px);
    }
    .maincontent {
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 2rem;
      text-align: center;

      .singleItem {
        img {
          border-radius: 50%;
          background-color: rgb(228, 180, 180);
          width: 120px;
          margin-bottom: 0.5rem;
        }
        h3 {
          margin-bottom: 1rem;
        }
        p {
          font-size: 18px;
          color: $textColor;
        }
      }
    }
    .videocard {
      margin-top: 2rem;
      background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.73),
          rgba(0, 0, 0, 0.609)
        ),
        url(../../Assets/map.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .cardcontent {
        gap: 2rem;
        padding: 2rem 1rem;
        .cardtext {
          h2 {
            color: $WhiteColor;
            font-weight: 600;
            padding-bottom: 1rem;
          }
          p {
            color: $WhiteColor;
            font-weight: 400;
            opacity: 0.7;
            font-size: 12px;
            letter-spacing: 1px;
          }
        }
      }
      .cardvideo {
        border: 2px solid $WhiteColor;
        height: 200px;
        width: 100%;
        border-radius: 12px;
        overflow: hidden;

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .about {
    .seccontainer {
      .title {
        font-size: 2rem;
        font-weight: 800;
      }
      .maincontent {
        grid-template-columns: repeat(1, 1fr);
        .singleItem {
          img {
            width: 100px;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 769px) {
  .videocard {
    width: 80%;
    margin: auto;
    border-radius: 12px;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.897)),
      url(../../Assets/map.png);

    .cardcontent {
      gap: 2rem;
      padding: 2rem 1rem;
      grid-template-columns: repeat(2, 1fr);
      .cardtext {
        h2 {
          color: $WhiteColor;
          width: 300px;
          font-weight: 600;
          padding-bottom: 1rem;
        }
        p {
          color: $WhiteColor;
          font-weight: 400;
          opacity: 0.7;
          font-size: 12px;
          letter-spacing: 1px;
          width: 400px;
        }
      }
    }
    .cardvideo {
      border: 2px solid $WhiteColor;
      height: 200px;
      width: 100%;
      border-radius: 12px;
      overflow: hidden;

      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
